%h1 Listing post_attachments

%table
  %thead
    %tr
      %th Post
      %th Avatar
      %th
      %th
      %th
      
  %tbody
    - @post_attachments.each do |post_attachment|
      %tr
        %td= post_attachment.post_id
        %td= post_attachment.avatar
        %td= link_to 'Show', user_post_attachment_path(@user)
        %td= link_to 'Destroy', user_post_attachment(@user), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post attachment', new_user_post_attachment_path(@user)
